#header {
  height: 50px;
  background: #fffff0;
  color: #c1555f;

}

#user-tools a:visited {
  color: #c1555f;
}

#user-tools a:link {
  color: #c1555f
}

#branding h1{
  color: #c1555f;
}

a:link,
a:visited {
  color: #c1555f;
}



div.breadcrumbs {
  background: #d4d1ce;
  color: #000;
}

div.breadcrumbs a {
  color: #000000;
}

.module h2,
.module caption,
.inline-group h2 {
  background: #a8a8a8;
}

.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
  background: #a8a8aa;
  color: #ffffff;
}
