<section id="top-bar" class="sticky-top sticky-offset">
  <!--Social Icons-->
  <div class="social mx-3 text-right">
    <a href="tel:(555)555-5555" class="d-lg-none">
      <i class="fas fa-phone mx-1"></i>
    </a>
    <a href="#" class="d-none d-lg-inline" data-toggle="modal" data-target="#modalPhone">
      <i class="fas fa-phone mx-1"></i>
    </a>
    <a href="mailto:conact@premierproperties.com?subject=Contact request&body=I would like more information on">
      <i class="fas fa-envelope-open mx-1"></i>
    </a>
    <a href="#">
      <i class="fab fa-twitter mx-1"></i>
    </a>
    <a href="#">
      <i class="fab fa-facebook mx-1"></i>
    </a>
    <a href="#">
      <i class="fab fa-linkedin mx-1"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram mx-1"></i>
    </a>
    <a href="#">
      <i class="fab fa-pintrest mx-1"></i>
    </a>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalPhone" tabindex="-1" role="dialog" aria-labelledby="phoneModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="phoneModalLabel">Call Us Today!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <h6 class="font-weight-bold">Working Hours:</h6>
          <p>Monday - Sunday <br>9am-7pm
          </p>
          <br>
          <p>T: (555) 555-5555 <br>
            F: (555) 555-5555</P>
          <br>
          <p>
            No matter what type of real estate question you have – we’re happy to help! Give us a call, or email us. We
            will always respond to inquiries within 24 hours.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>